<div class="animated fadeIn">
    <div class="row">
        <div class="col-lg-12" *ngIf="auth.editData">
            <div class="card">
                <div class="card-header">
                    <strong>Add Area</strong>
                </div>
                <div class="card-body">
                    <form #areaForm="ngForm" novalidate>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label for="name">Area Name</label>
                                    <input type="text" [(ngModel)]="area.name" #name="ngModel" required name="name" class="form-control" [ngClass]="{'is-invalid':areaForm.submitted ||name.invalid &&  (name.dirty || name.touched)}" class="form-control" placeholder="Enter your name">

                                </div>
                            </div>
                        </div>
                        <!-- <div class="row">
              <div class="col-sm-12">
                <div class="form-group">
                  <label for="value">Value</label>
                  <input type="text" [(ngModel)]="area.value" #value="ngModel" required name="value" class="form-control" [ngClass]="{'is-invalid':areaForm.submitted ||value.invalid &&  (value.dirty || value.touched)}" class="form-control" placeholder="Enter your value">
                  <div style="color: #fb0000;" *ngIf="value.invalid && (value.dirty || value.touched)">
                    Required
                  </div>
                </div>
              </div>
            </div> -->
                        <div class="card-footer text-center">
                            <button type="reset" class="btn btn-md btn-danger" (click)="resetData(areaForm)"><i class="fa fa-ban"></i>
                                    Back</button>
                            <button *ngIf="!auth.editData" (click)="submit(areaForm)" class="btn btn-md btn-success btn-margin"><i
                  class="fa fa-dot-circle-o"></i> Submit</button>
                            <button *ngIf="auth.editData" (click)="submit(areaForm)" class="btn btn-md btn-success btn-margin"><i
                  class="fa fa-dot-circle-o"></i> Submit</button>

                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!--/.col-->
        <div class="col-lg-12" *ngIf="!auth.editData">
            <div class="card">
                <div class="card-header">
                    <i class="fa fa-align-justify"></i> Area Data
                </div>
                <div class="card-body">
                    <div class="text-right">
                        <button (click)="addData()" class="btn btn-md btn-primary text-right">Add Area</button>
                    </div>
                    <br>
                    <table class="table table-bordered table-striped table-sm">
                        <thead>
                            <tr>
                                <th>Area Name</th>
                                <!-- <th>Value</th> -->
                                <th>User Count</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of areaList">
                                <td>{{item.name}}</td>
                                <!-- <td>{{item.value}}</td> -->
                                <td>{{item.userCounts.length}}</td>
                                <td>
                                    <button class="btn btn-sm btn-primary btn-margin" (click)="editDatashow(item)"><i
                      class="cui-pencil icons"></i> Edit</button>
                                    <button class="btn btn-sm btn-danger" (click)="deleteData(item._id)"><i class="cui-trash icons"></i>
                    Delete</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <!--  <nav>
            <ul class="pagination">
              <li class="page-item"><a class="page-link" href="#">Prev</a></li>
              <li class="page-item active">
                <a class="page-link" href="#">1</a>
              </li>
              <li class="page-item"><a class="page-link" href="#">2</a></li>
              <li class="page-item"><a class="page-link" href="#">3</a></li>
              <li class="page-item"><a class="page-link" href="#">4</a></li>
              <li class="page-item"><a class="page-link" href="#">Next</a></li>
            </ul>
          </nav> -->
                </div>
            </div>
        </div>
        <!--/.col-->
    </div>
    <!--/.row-->
</div>