<div class="animated fadeIn">
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header">
          <strong>Welcome to Classic Tracker</strong>
        </div>
        <div class="card-body">
          <div style="text-align: center;font-size: 30px;font-weight: 500;">
            Welcome to Classic Tracker
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
