<div class="animated fadeIn">
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header">
          <strong>Reports</strong>
        </div>
        <div class="card-body">
          <div class="text-right">
            <input #inputFile hidden type="file" id="reportFile" (change)="convertFile($event)" style="margin-bottom: 20px;" multiple="false" />
            <form #reportForm="ngForm" novalidate class="col-xs-12 row">
              <div class="col-sm-3 row">
                <div class="col-sm-12">
                  <label style="text-align: left; float: left;">From</label>
                </div>
              </div>
              <div class="col-sm-9 row">
                <div class="col-sm-12">
                  <label style="text-align: left; float: left;">To</label>
                </div>
              </div>
              <!-- <div class="offset-8"></div> -->
              <div class="col-sm-12 row">
                <div class="col-sm-3 row">
                  <div class="col-sm-6" style="padding-right: 0;">
                    <select class="form-control" [(ngModel)]="fromSelectedMonth" id="from" (change)="filterFromMonthChange(fromSelectedMonth)" name="fromSelectedMonth">
                      <option [value]="i+1" *ngFor="let item of monthNames;let i = index">{{item}}</option>
                    </select>
                  </div>
                  <div class="col-sm-6">
                    <select class="form-control" [(ngModel)]="fromSelectedYear" (change)="filterFromYearChange(fromSelectedYear)" name="fromSelectedYear">
                      <option [value]="year" *ngFor="let year of yearList">{{year}}</option>
                    </select>
                  </div>
                </div>
                <div class="col-sm-3 row">
                  <div class="col-sm-6" style="padding-right: 0;">
                    <select class="form-control" [(ngModel)]="toSelectedMonth" (change)="filterToMonthChange(toSelectedMonth)" name="toSelectedMonth">
                      <option [value]="i+1" *ngFor="let item of monthNames;let i = index">{{item}}</option>
                    </select>
                  </div>
                  <div class="col-sm-6">
                    <select class="form-control" [(ngModel)]="toSelectedYear" (change)="filterToYearChange(toSelectedYear)" name="toSelectedYear">
                      <option [value]="year" *ngFor="let year of yearList">{{year}}</option>
                    </select>
                  </div>
                </div>
                <div class="row offset-md-1 col-md-5 col-sm-4 offset-sm-0">
                  <div class="col-sm-5 row">
                    <select class="form-control" [(ngModel)]="reportType" (change)="filterTypeChange(reportType)" name="reportType">
                      <option value="area">By Area and Supervisor</option>
                      <option value="bank">By Bank Name</option>
                    </select>
                  </div>
                  <div class="col-md-4" style="float: right; padding-right: 0;">
                    <button (click)="generateReport()" class="btn btn-md btn-primary text-right">Generate Report
                    </button>
                  </div>
                  <div class="col-md-3" style="padding: 0; text-align: left;">
                    <button (click)="generatePDF()" class="btn btn-md btn-primary text-right">Export as PDF
                    </button>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
        <hr>
        <!-- Table -->
        <div id="generatedReport" class="col-sm-12">
          <div style="margin-right: 10px;" [innerHTML]="commissionTable">
          </div>
        </div>
        <hr>
        <!-- Import Section -->
        <div class="card-body">
          <div class="text-right">
            <div class="row col-sm-12" style="margin-bottom: 15px; padding: 0">
              <div class="col-sm-2">
                <select class="form-control" [(ngModel)]="selectedMonth" (change)="filterMonthChange(selectedMonth)" name="selectedMonth">
                  <option [value]="i+1" *ngFor="let item of monthNames;let i = index">{{item}}</option>
                </select>
              </div>
              <div class="col-sm-2">
                <select class="form-control" [(ngModel)]="selectedYear" (change)="filterYearChange(selectedYear)" name="selectedYear">
                  <option [value]="year" *ngFor="let year of yearList">{{year}}</option>
                </select>
              </div>
              <div>
                <button (click)="onFileBrowser($event)" class="btn btn-md btn-primary">Select File
                </button>
                <button (click)="saveFileData()" [disabled]="!file" class="btn btn-md btn-primary text-right">Import File
                </button>
                <button *ngIf="user.email == 'simtracker@ledimo.co.za'" (click)="yourMethod()" class="btn btn-md btn-primary text-right">Delete Reports
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<ngx-confirm-box [bgColor]="bgColor" [confirmHeading]="confirmHeading" [confirmCanceltext]="confirmCanceltext" [confirmContent]="confirmContent" [confirmOkaytext]="confirmOkaytext" (confirmEvt)="deleteAllData($event)"></ngx-confirm-box>
