<div class="animated fadeIn">
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header">
          <strong>Stock</strong>
        </div>
        <div class="card-body">
          <div class="text-right">
            <input #inputFile hidden type="file" id="stockFile" (change)="convertFile($event)" style="margin-bottom: 20px;" multiple="false" />
            <form (submit)="onBoxSearch(searchData)">
              <div class="row col-sm-12" style="margin-bottom: 15px; padding: 0">
                <div class="col-sm-4">
                  <input type="text" class="form-control" id="search" name="search" [(ngModel)]="searchData" placeholder="Search Box" />
                </div>
                <div class="col-sm-2">
                  <button (click)="onBoxSearch(searchData)" class="btn btn-block btn-primary">Search</button>
                </div>
                <div class="col-sm-6" style="padding-right: 0">
                  <button *ngIf="user.email == 'simtracker@ledimo.co.za'" (click)="yourMethod()" class="btn btn-md btn-primary text-right">Delete</button>
                  <button (click)="onFileBrowser($event)" class="btn btn-md btn-primary text-right">Add Stock</button>
                </div>
              </div>
            </form>
            <pagination *ngIf="config.paging" class="pagination-sm" [(ngModel)]="page" [totalItems]="length" [itemsPerPage]="itemsPerPage" [maxSize]="maxSize" [boundaryLinks]="true" [rotate]="false" (pageChanged)="onChangeTable(config, $event)" (numPages)="numPages = $event">
            </pagination>
            <ng-table #customLoadingTemplate [config]="config" (tableChanged)="onChangeTable(config)" [rows]="rows" (cellClicked)="onCellClick($event)" [columns]="columns">
            </ng-table>
            <pagination *ngIf="config.paging" class="pagination-sm" [(ngModel)]="page" [totalItems]="length" [itemsPerPage]="itemsPerPage" [maxSize]="maxSize" [boundaryLinks]="true" [rotate]="false" (pageChanged)="onChangeTable(config, $event)" (numPages)="numPages = $event">
            </pagination>
            <pre *ngIf="config.paging" class="card card-block card-header">Page: {{page}} / {{numPages}}</pre>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<ngx-confirm-box [bgColor]="bgColor" [confirmHeading]="confirmHeading" [confirmCanceltext]="confirmCanceltext" [confirmContent]="confirmContent" [confirmOkaytext]="confirmOkaytext" (confirmEvt)="OnStockDelete($event)"></ngx-confirm-box>
