<div class="animated fadeIn">
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header">
          <strong>Stock</strong>
        </div>
        <div class="card-body">
          <div class="text-right">
            <!-- <button (click)="onFileBrowser($event)" class="btn btn-md btn-primary text-right">Add Stock</button> -->
            <!-- <br> -->
            <!-- <input #inputFile hidden type="file" id="stockFile" (change)="convertFile($event)" style="margin-bottom: 20px;" multiple="false" /> -->
            <form (submit)="onBoxSearch(searchData,'')">
              <div class="row col-sm-12" style="margin-bottom: 15px; padding: 0">
                <div class="col-sm-4">
                  <input type="text" class="form-control" id="search" name="search" [(ngModel)]="searchData" placeholder="Search Box" (paste)="onPaste($event)" />
                </div>
                <div class="col-sm-2">
                  <!-- <button (click)="onBoxSearch(searchData)" class="btn btn-block btn-primary">Add</button> -->
                </div>
                <div class="col-sm-4">
                  <select class="form-control" id="" (change)="selectObj($event)" required>
                    <option disabled selected value="">
                      Select Supervisor
                    </option>
                    <option *ngFor="let row of rows1" [ngValue]="row">{{row.name}}</option>
                  </select>
                  <!-- <span style="color:red" *ngIf="!dispatchData.supervisor">
                        Please select Supervisor</span> -->
                </div>
                <div class="col-sm-2">
                  <button type="button" [disabled]="!dispatchData.supervisor || returnedArray.length == 0" (click)="onDispatchData()" class="btn btn-md btn-primary btn-block">Dispatch</button>
                </div>
                <!-- <div class="col-sm-6" style="padding-right: 0">
                    <button (click)="OnStockDelete()" class="btn btn-md btn-primary text-right">Delete</button>
                    <button (click)="onFileBrowser($event)" class="btn btn-md btn-primary text-right">Add Stock</button>
                </div> -->
              </div>
            </form>
            <pagination *ngIf="config.paging" class="pagination-sm" [(ngModel)]="page" [totalItems]="length" [itemsPerPage]="itemsPerPage" [maxSize]="maxSize" [boundaryLinks]="true" [rotate]="false" (pageChanged)="onChangeTable(config, $event)" (numPages)="numPages = $event">
            </pagination>
            <!-- <ng-table #customLoadingTemplate [config]="config" (tableChanged)="onChangeTable(config)" [rows]="rows"
              [rows1]="rows1" [columns]="columns" (cellClicked)="onCellClick($event)"
              (selectedCheckBox)="onSelectCheckData($event)">
            </ng-table> -->
            <table class="table dataTable table-striped table-bordered table-sm" role="grid" style="width: 100%;">
              <thead>
                <tr role="row">
                  <th>Box Barcode</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody *ngIf="returnedArray.length>0">
                <tr *ngFor="let boxData of returnedArray">
                  <td>{{boxData._id}}</td>
                  <td>
                    <i class="fa fa-times" style="font-size: 15px;" (click)="removeBox(boxData._id)"></i>
                    <!-- <input type="checkbox" name="boxAssign" (change)="onSelectCheckData(boxData._id)"
                      required> -->
                  </td>
                </tr>
              </tbody>
              <tfoot *ngIf="returnedArray.length==0">
                <tr>
                  <td colspan="2" align="center">No records found</td>
                </tr>
              </tfoot>
            </table>
            <pagination *ngIf="config.paging" class="pagination-sm" [(ngModel)]="page" [totalItems]="length" [itemsPerPage]="itemsPerPage" [maxSize]="maxSize" [boundaryLinks]="true" [rotate]="false" (pageChanged)="onChangeTable(config, $event)" (numPages)="numPages = $event">
            </pagination>
            <!-- <div>
                            <label for="cars">Choose a car:</label>

                            <select id="cars">
                              <option value="volvo">Volvo</option>
                              <option value="saab">Saab</option>
                              <option value="opel">Opel</option>
                              <option value="audi">Audi</option>
                            </select>
                        </div> -->
            <pre *ngIf="config.paging" class="card card-block card-header">Page: {{page}} / {{numPages}}</pre>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- //For search -->
<div class="col-lg-12" style="padding: 0;">
  <div class="card">
    <div class="card-header">
      Search Boxes
    </div>
    <div class="card-body">
      <form (submit)="onSearch(searchField)">
        <div class="row col-sm-12" style="margin-bottom: 15px; padding: 0">
          <div class="col-sm-4">
            <input type="text" class="form-control" id="addsearch" name="search" [(ngModel)]="searchField" placeholder="Search Box" />
          </div>
          <div class="col-sm-2">
            <button (click)="onSearch(searchField)" [disabled]="!searchField" class="btn btn-block btn-primary">Search</button>
          </div>
        </div>
      </form>
      <br>
      <table class="table dataTable table-striped table-bordered table-sm" role="grid" style="width: 100%;">
        <thead>
          <tr role="row">
            <th>Box Barcode</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody *ngIf="newreturnedArray.length>0">
          <tr *ngFor="let boxData of newreturnedArray">
            <td>{{boxData._id}}</td>
            <td>
              <button (click)="onBoxSearch(boxData._id,'add')" class="btn btn-block btn-primary" style="width: 21%">Add</button>
              <!-- <input type="checkbox" name="boxAssign" (change)="onSelectCheckData(boxData._id)"
          required> -->
            </td>
          </tr>
        </tbody>
        <tfoot *ngIf="newreturnedArray.length==0">
          <tr>
            <td colspan="2" align="center">No records found</td>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>
</div>
