<div class="animated fadeIn">
  <div class="row">
    <div class="col-lg-12" *ngIf="auth.editData">
      <div class="card">
        <div class="card-header">
          <strong>Add User</strong>
        </div>
        <div class="card-body">
          <form #userForm="ngForm" novalidate>
            <div class="row">
              <div class="col-sm-12">
                <div class="form-group">
                  <label for="name">Name</label>
                  <input type="text" [(ngModel)]="user.name" #name="ngModel" required name="name" [ngClass]="{ 'is-invalid':userForm.submitted || (name.invalid) &&  (name.dirty || name.touched )}" class="form-control" placeholder="Enter your name">
                  <!-- <div style="color: #fb0000;" *ngIf="name.invalid && (name.dirty || name.touched)">
                    Required
                  </div> -->
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12">
                <div class="form-group">
                  <label for="surname">Surname</label>
                  <input type="text" [(ngModel)]="user.surName" #surname="ngModel" required name="surname" [ngClass]="{'is-invalid':userForm.submitted || surname.invalid &&  (surname.dirty || surname.touched)}" class="form-control" placeholder="Enter your surname">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12">
                <div class="form-group">
                  <label for="cell">Cell</label>
                  <input type="text" [(ngModel)]="user.cell" (keypress)="keyPress($event)" [maxlength]="maxLength" [pattern]='phonePattern' #cell="ngModel" required name="cell" [ngClass]="{'is-invalid':userForm.submitted ||cell.invalid &&  (cell.dirty || cell.touched)}" class="form-control" placeholder="Enter your cell">
                  <!-- <div style="color: #fb0000;" *ngIf="cell.errors?.pattern && cell.invalid && (cell.dirty || cell.touched)">
                                        Please enter a valid cell Number
                                    </div> -->
                </div>
              </div>
            </div>
            <div class="row">
              <!--<div class="col-sm-12">
                <div class="form-group">
                  <label for="area">Area</label>
                  <input type="text" [(ngModel)]="user.area" #area="ngModel" required name="area" class="form-control" [ngClass]="{'is-invalid':userForm.submitted ||area.invalid &&  (area.dirty || area.touched)}" class="form-control" placeholder="Enter your area">
                  <div style="color: #fb0000;" *ngIf="area.invalid && (area.dirty || area.touched)">
                    Required
                  </div>
                </div>
              </div>-->
              <div class="form-group col-sm-12">
                <label for="area">Area</label>
                <select class="form-control" [(ngModel)]="user.area" #area="ngModel" name="area" [ngClass]="{'is-invalid':userForm.submitted ||area.invalid  &&  (area.dirty || area.touched)}" required>
                  <option disabled selected value="">
                    Select Area
                  </option>
                  <option *ngFor="let obj of areaList" [value]="obj._id">{{ obj.name }}</option>
                </select>
              </div>
            </div>
            <!-- <div class="row">
              <div class="col-sm-12">
                <div class="form-group">
                  <label for="bank">Bank Name</label>
                  <input type="text" [(ngModel)]="user.bankName" #bank="ngModel" required name="bank" class="form-control" [ngClass]="{'is-invalid':userForm.submitted ||bank.invalid &&  (bank.dirty || bank.touched)}" class="form-control" placeholder="Enter your bank name">

                </div>
              </div>
            </div> -->
            <div class="row">
              <div class="col-sm-12">
                <div class="form-group">
                  <label for="email">Email</label>
                  <input type="text" [(ngModel)]="user.email" #email="ngModel" required name="email" class="form-control" [ngClass]="{'is-invalid':userForm.submitted ||email.invalid &&  (email.dirty || email.touched)}" [pattern]='emailPattern' class="form-control" placeholder="Enter your email">
                  <!-- <div style="color: #fb0000;" *ngIf="!email.errors?.pattern && email.invalid && (email.dirty || email.touched)">
                    Required
                  </div> -->
                  <!-- <span *ngIf="email.errors?.pattern && (email.dirty || email.touched)" style="color: #fb0000;">
                    Please enter a valid email address
                  </span> -->
                </div>
              </div>
            </div>
            <div class="row" *ngIf="auth.editData && user._id == ''">
              <!-- <div class="row"> -->
              <div class="col-sm-12">
                <div class="form-group">
                  <label for="password">Password</label>
                  <input type="password" [(ngModel)]="user.password" [minlength]="passwordMinLength" [maxlength]="passwordMaxLength" [pattern]="passwordPattern" #password="ngModel" required name="password" class="form-control" [ngClass]="{'is-invalid':userForm.submitted ||password.invalid &&  (password.dirty || password.touched)}" class="form-control" placeholder="Enter your password">
                  <div style="color: #fb0000;" *ngIf="password.errors?.minlength">Password must be at least 8 characters
                  </div>
                  <div style="color: #fb0000;" *ngIf="password.errors?.maxlength">Password cannot be more than 32 characters long</div>
                  <span style="color: #fb0000;" *ngIf="password.errors?.pattern &&  (password.dirty || password.touched)">Password must contain at
                    least one upper,lower,number and special character</span>
                </div>
              </div>
            </div>
            <div class="row" *ngIf="auth.editData && user._id == ''">
              <div class="col-sm-12">
                <div class="form-group">
                  <label for="conpassword">Repeat Password</label>
                  <input type="password" [(ngModel)]="user.conpassword" #conpassword="ngModel" required name="conpassword" [ngClass]="{'is-invalid':userForm.submitted ||conpassword.invalid &&  (conpassword.dirty || conpassword.touched) || userForm.value.password !== userForm.value.conpassword}" class="form-control" placeholder="Enter your repeat password">
                  <!-- <div style="color: #fb0000;" *ngIf="userForm.value.password !== userForm.value.conpassword && (conpassword.dirty || conpassword.touched)">
                                        Passwords did not match
                                    </div> -->
                </div>
              </div>
            </div>
            <!--/.row-->
            <div class="row">
              <div class="form-group col-sm-6">
                <label for="status">Status</label>
                <select class="form-control" [(ngModel)]="user.active" #active="ngModel" name="active" [ngClass]="{'is-invalid':userForm.submitted ||active.invalid  &&  (active.dirty || active.touched)}" required>
                  <option disabled selected value="">
                    Select Status
                  </option>
                  <option [value]="true">Active</option>
                  <option [value]="false">Inactive</option>
                </select>
              </div>
              <div class="form-group col-sm-6">
                <label for="role">Role</label>
                <select class="form-control" [(ngModel)]="user.role" #role="ngModel" name="role" [ngClass]="{'is-invalid':userForm.submitted ||role.invalid  &&  (role.dirty || role.touched)}" required>
                  <option disabled selected value="">
                    Select Role
                  </option>
                  <option [value]="'Super-Admin'">Super Admin</option>
                  <option [value]="'Super-Staff'">Super Staff</option>
                  <option [value]="'Supervisor'">Supervisor</option>
                </select>
              </div>
            </div>
            <div class="card-footer text-center">
              <button type="reset" class="btn btn-md btn-danger" (click)="resetData(userForm)"><i class="fa fa-ban"></i>
                Back</button>
              <button *ngIf="!auth.editData" (click)="submit(userForm)" class="btn btn-md btn-success btn-margin"><i class="fa fa-dot-circle-o"></i> Submit</button>
              <button *ngIf="auth.editData" (click)="submit(userForm)" class="btn btn-md btn-success btn-margin"><i class="fa fa-dot-circle-o"></i> Submit</button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <!--/.col-->
    <div class="col-lg-12" *ngIf="!auth.editData">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-align-justify"></i> Users Data
        </div>
        <div class="card-body">
          <div class="text-right">
            <button (click)="adduser()" class="btn btn-md btn-primary text-right">Add User</button>
          </div>
          <br>
          <table class="table table-bordered table-striped table-sm">
            <thead>
              <tr>
                <th>Name</th>
                <th>Surname</th>
                <th>Email</th>
                <th>Role</th>
                <th>Status</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of userList">
                <td>{{item.name}}</td>
                <td>{{item.surName}}</td>
                <td>{{item.email}}</td>
                <td>{{item.role}}</td>
                <td>
                  <span *ngIf="item.active" class="badge badge-success">Active</span>
                  <span *ngIf="!item.active" class="badge badge-danger">Inactive</span>
                </td>
                <td>
                  <button class="btn btn-sm btn-primary btn-margin" (click)="editDatashow(item)"><i class="cui-pencil icons"></i> Edit</button>
                  <button class="btn btn-sm btn-danger" (click)="yourMethod(item._id)"><i class="cui-trash icons"></i>
                    Delete</button>
                </td>
              </tr>
            </tbody>
            <!-- *ngIf="item.role != 'Super-Admin'" -->
          </table>
          <!--  <nav>
            <ul class="pagination">
              <li class="page-item"><a class="page-link" href="#">Prev</a></li>
              <li class="page-item active">
                <a class="page-link" href="#">1</a>
              </li>
              <li class="page-item"><a class="page-link" href="#">2</a></li>
              <li class="page-item"><a class="page-link" href="#">3</a></li>
              <li class="page-item"><a class="page-link" href="#">4</a></li>
              <li class="page-item"><a class="page-link" href="#">Next</a></li>
            </ul>
          </nav> -->
        </div>
      </div>
    </div>
    <!--/.col-->
  </div>
  <!--/.row-->
</div>
<ngx-confirm-box [bgColor]="bgColor" [confirmHeading]="confirmHeading" [confirmCanceltext]="confirmCanceltext" [confirmContent]="confirmContent" [confirmOkaytext]="confirmOkaytext" (confirmEvt)="deleteData($event)"></ngx-confirm-box>
