// Here you can add other styles
// .navbar-toggler-icon {
//   display: none !important;
// }
.btn-margin {
  margin-left: 5px !important;
  margin-right: 5px !important;
}

.navbar-brand-full {
  max-width: 86px !important;
  width: 100% !important;
}

.table-header-col1 {
  width: 13% !important;
}

.table-header-col2 {
  width: 30% !important;
}

// .app-header .navbar-toggler{
//   display: none !important;
// }
.nav-tabs .nav-link {
  border: 0 !important;
}

.assign-btn {
  width: 14%;
  float: right;
  margin-bottom: 6px;
  margin-left: 10px;
}

@media screen and (max-width: 600px) {
  table {
    overflow-x: scroll;
    display: block
  }
}

td .form-control {
  width: 100% !important;
}

.card-body form {
  margin-top: 40px;
}

@media screen and (max-width: 1199px) {
  img.logo {
    max-width: 120px;
    bottom: -91px;
  }

  .card-body form {
    margin-top: 40px;
  }
}

.text-right {
  text-align: right;
}

td {
  cursor: pointer !important;
}

ng-table {
  text-align: left;
}

.dispatch-btn {
  margin-top: -92px;
  margin-right: 108px;
  width: 134px;
}

.selection-provide {
  padding-right: 250px;
}

.selection-provide .form-control {
  width: 260px;
}

.app-header .navbar-toggler-icon {
  background-image: url(../assets/lock.svg) !important;
}

.comtable-responsive {
  display: block;
  width: 100%;
  overflow-x: auto;
}

@media screen and (max-width:1199px) {
  .selection-provide .form-control {
    width: 100%;
  }
}

@media screen and (max-width:1024px) {
  .dispatch-btn {
    margin-right: 48px;
  }

  .selection-provide {
    padding-right: 150px;
  }
}

@media screen and (max-width:991px) {
  .dispatch-btn {
    margin-right: 18px;
  }
}



.fontBold {
  font-weight: bold;
}

.dark-gray {
  background-color: dimgray;
}


button {
  margin-right: 5px !important;
}
