<div class="app-body">
  <main class="main d-flex align-items-center">
    <div class="container">
      <div class="row">
        <div class="col-md-8 mx-auto">
          <div class="card-group">
            <div class="card p-4">
              <div class="card-body">
                <form #recoverPass="ngForm" novalidate>
                  <h1>Forgot Password</h1>
                  <p class="text-muted">Reset Your Account Password</p>
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="icon-user"></i></span>
                    </div>
                    <!-- <input type="text" class="form-control" placeholder="Username" autocomplete="username" required> -->
                    <input type="email" class="form-control" [ngClass]="{'is-invalid':recoverPass.submitted ||email.invalid && (email.dirty || email.touched)}" placeholder="Enter Email Address" name="email" [(ngModel)]="receoverpassData.email" #email="ngModel" required [pattern]='emailPattern'>
                  </div>
                  <br>
                  <!-- <span class="mb-3" role="alert" *ngIf="!email.errors?.pattern && email.invalid && (email.dirty || email.touched)" style="color: #fb0000;">
                    Email is required
                  </span> -->
                  <span class="mb-3" role="alert" *ngIf="email.errors?.pattern && (email.dirty || email.touched)" style="color: #fb0000;">
                    Please enter a valid email address
                  </span>
                  <div class="row">
                    <div class="col-6">
                      <button type="button" [disabled]="sendpassMail" (click)="recoverPassword(recoverPass)" class="btn btn-primary px-4">Reset Password</button>
                    </div>
                    <div class="col-6 text-right">
                      <button type="button" [routerLink]="'/login'" class="btn btn-link px-0">Login</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>
