<div class="animated fadeIn">
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header">
          <strong>View Bricks</strong>
        </div>
        <div class="card-body row">
          <div class="col-sm-4" *ngIf="agentData">
            Agent Name: {{agentData.name}}
          </div>
          <div class="col-sm-4">
            <input type="text" class="form-control" id="search" name="search" [(ngModel)]="searchData" placeholder="Search Bricks" />
          </div>
          <div class="col-sm-2">
            <button (click)="onAgentSearch(searchData)" class="btn btn-block btn-primary">Search</button>
          </div>
          <div class="col-sm-2" style="float:right;margin-bottom: 10px;">
            <button type="button" class="btn btn-md btn-primary" (click)="backToPage()">Back</button>
          </div>
          <pagination *ngIf="config.paging" class="pagination-sm" [(ngModel)]="page" [totalItems]="length" [itemsPerPage]="itemsPerPage" [maxSize]="maxSize" [boundaryLinks]="true" [rotate]="false" (pageChanged)="onChangeTable(config, $event)" (numPages)="numPages = $event">
          </pagination>
          <table class="table dataTable table-striped table-bordered table-sm" role="grid" style="width: 100%;">
            <thead>
              <tr role="row">
                <th>Bricks</th>
                <th>Boxes</th>
                <th>Bank</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let box of boxDataList">
                <td>{{box.bricks}}</td>
                <td>{{box.box}}</td>
                <td>
                  <div *ngIf="agentData"> {{agentData.bankName}}</div>
                  <!-- <input type="checkbox" name="boxAssign" [checked]="box.selected" (change)="onSelectCheckData(box._id)" required> -->
                </td>
              </tr>
            </tbody>
            <tfoot *ngIf="boxDataList.length==0">
              <tr>
                <td colspan="2" align="center">No records found</td>
              </tr>
            </tfoot>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
