<div class="animated fadeIn">
  <div class="row">
    <div class="col-lg-12" *ngIf="auth.editData">
      <div class="card">
        <div class="card-header">
          <strong>Add Agent</strong>
        </div>
        <div class="card-body">
          <form #agentForm="ngForm" novalidate>
            <div class="row">
              <div class="col-sm-12">
                <div class="form-group">
                  <label for="name">Agent Name</label>
                  <input type="text" [(ngModel)]="agent.name" #name="ngModel" required name="name" class="form-control" [ngClass]="{'is-invalid':agentForm.submitted ||name.invalid &&  (name.dirty || name.touched)}" class="form-control" placeholder="Enter your name">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12">
                <div class="form-group">
                  <label for="address">Address</label>
                  <input type="text" [(ngModel)]="agent.address" #address="ngModel" required name="address" class="form-control" [ngClass]="{'is-invalid':agentForm.submitted ||address.invalid &&  (address.dirty || address.touched)}" class="form-control" placeholder="Enter your address">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12">
                <div class="form-group">
                  <label for="province">Province</label>
                  <!-- <input type="text" [(ngModel)]="agent.province" #province="ngModel" required name="province" class="form-control" [ngClass]="{'is-invalid':agentForm.submitted ||province.invalid &&  (province.dirty || province.touched)}" class="form-control" placeholder="Enter your province"> -->
                  <select class="form-control" [(ngModel)]="agent.province" #province="ngModel" required name="province" [ngClass]="{'is-invalid':agentForm.submitted ||province.invalid  &&  (province.dirty || province.touched)}">
                    <option disabled selected value="">
                      Select province type
                    </option>
                    <option *ngFor="let province of provinceData" [value]="province._id">{{province.name}}</option>
                    <!-- <option [value]="'SmartCard'">Smart Card</option> -->
                  </select>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="form-group col-sm-12">
                <label for="supervisor">Supervisor</label>
                <select class="form-control" [(ngModel)]="agent.supervisor" #supervisor="ngModel" required name="supervisor" [ngClass]="{'is-invalid':agentForm.submitted ||supervisor.invalid  &&  (supervisor.dirty || supervisor.touched)}">
                  <option disabled selected value="">
                    Select supervisor type
                  </option>
                  <option *ngFor="let supervisor of supervisorData" [value]="supervisor._id">{{supervisor.name}}
                  </option>
                  <!-- <option [value]="'SmartCard'">Smart Card</option> -->
                </select>
              </div>
            </div>
            <!-- <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label for="supervisor">Supervisor</label>
                                    <input type="text" [(ngModel)]="agent.supervisor" #supervisor="ngModel" required name="supervisor" class="form-control" [ngClass]="{'is-invalid':agentForm.submitted ||supervisor.invalid &&  (supervisor.dirty || supervisor.touched)}" class="form-control"
                                        placeholder="Enter your supervisor">

                                </div>
                            </div>
                        </div> -->
            <div class="row">
              <div class="col-sm-12">
                <div class="form-group">
                  <label for="contactperson">Contact person</label>
                  <input type="text" [(ngModel)]="agent.contactperson" #contactperson="ngModel" name="contactperson" class="form-control" class="form-control" placeholder="Enter your contact person">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12">
                <div class="form-group">
                  <label for="contactnumber">Contact number</label>
                  <input type="text" [(ngModel)]="agent.contactnumber" (keypress)="keyPress($event)" [maxlength]="maxLength" [pattern]='phonePattern' #contactnumber="ngModel" required name="contactnumber" class="form-control" [ngClass]="{'is-invalid':agentForm.submitted ||contactnumber.invalid &&  (contactnumber.dirty || contactnumber.touched)}" class="form-control" placeholder="Enter your contact number">
                  <div style="color: #fb0000;" *ngIf="contactnumber.errors?.pattern && contactnumber.invalid && (contactnumber.dirty || contactnumber.touched)">
                    Please enter a valid contact number
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12">
                <div class="form-group">
                  <label for="contactemail">Contact email</label>
                  <input type="text" [(ngModel)]="agent.contactemail" #contactemail="ngModel" name="contactemail" class="form-control" [pattern]='emailPattern' class="form-control" placeholder="Enter your contact email">
                  <span *ngIf="contactemail.errors?.pattern" style="color: #fb0000;">
                    Please enter a valid contactemail address
                  </span>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12">
                <div class="form-group">
                  <label for="bankName">Bank Name</label>
                  <select class="form-control" [(ngModel)]="agent.bankName" #bankName="ngModel" name="bankName">
                    <option disabled selected value="">
                      Select bank
                    </option>
                    <option *ngFor="let item of bankData" [value]="item.name">{{item.name}}</option>
                  </select>
                  <!-- <input type="text" [(ngModel)]="agent.bankName" #bankName="ngModel" required name="bankName"
                    class="form-control"
                    [ngClass]="{'is-invalid':agentForm.submitted ||bankName.invalid &&  (bankName.dirty || bankName.touched)}"
                    class="form-control" placeholder="Enter your bank name"> -->
                </div>
              </div>
            </div>
            <div class="row">
              <div class="form-group col-sm-12">
                <label for="PaymentType">Payment Type</label>
                <select class="form-control" [(ngModel)]="agent.paymentType" #paymentType="ngModel" name="paymentType" [ngClass]="{'is-invalid':agentForm.submitted ||paymentType.invalid  &&  (paymentType.dirty || paymentType.touched)}" required>
                  <option disabled selected value="">
                    Select payment type
                  </option>
                  <option [value]="'Bank'">Bank</option>
                  <option [value]="'SmartCard'">Smart Card</option>
                </select>
              </div>
            </div>
            <div class="card-footer text-center">
              <button type="reset" class="btn btn-md btn-danger" (click)="resetData(agentForm)"><i class="fa fa-ban"></i> Back</button>
              <button *ngIf="!auth.editData" (click)="submit(agentForm)" class="btn btn-md btn-success btn-margin"><i class="fa fa-dot-circle-o"></i> Submit</button>
              <button *ngIf="auth.editData" (click)="submit(agentForm)" class="btn btn-md btn-success btn-margin"><i class="fa fa-dot-circle-o"></i> Submit</button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="col-lg-12" *ngIf="!auth.editData">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-align-justify"></i> Agents Data
        </div>
        <div class="card-body">
          <div class="text-right">
            <form (submit)="onAgentSearch(searchData)">
              <div class="row col-sm-12" style="margin-bottom: 15px; padding: 0">
                <div class="col-sm-4">
                  <input type="text" class="form-control" id="search" name="search" [(ngModel)]="searchData" placeholder="Search Agent" />
                </div>
                <div class="col-sm-2">
                  <button (click)="onAgentSearch(searchData)" class="btn btn-block btn-primary">Search</button>
                </div>
                <div class="col-sm-6" style="padding-right: 0">
                  <button (click)="addData()" class="btn btn-md btn-primary text-right">Add Agent</button>
                </div>
              </div>
            </form>
          </div>
          <!-- <div class="row">
            <div class="col-md-12"> -->
          <!-- <input *ngIf="config.filtering" placeholder="Filter all columns" [ngTableFiltering]="config.filtering" class="form-control" (tableChanged)="onChangeTable(config)" /> -->
          <!-- </div>

          </div> -->
          <br>
          <pagination *ngIf="config.paging" class="pagination-sm" [(ngModel)]="page" [totalItems]="length" [itemsPerPage]="itemsPerPage" [maxSize]="maxSize" [boundaryLinks]="true" [rotate]="false" (pageChanged)="onChangeTable(config, $event)" (numPages)="numPages = $event">
          </pagination>
          <ng-table [config]="config" (tableChanged)="onChangeTable(config)" (cellClicked)="onCellClick($event)" (editAgent)="onEditAgentData($event)" (deleteAgent)="yourMethod($event)" (viewAgentBox)="onViewBoxData($event)" (editAgentBox)="onEditAgentBoxData($event)" [rows]="rows" [columns]="columns">
          </ng-table>
          <pagination *ngIf="config.paging" class="pagination-sm" [(ngModel)]="page" [totalItems]="length" [itemsPerPage]="itemsPerPage" [maxSize]="maxSize" [boundaryLinks]="true" [rotate]="false" (pageChanged)="onChangeTable(config, $event)" (numPages)="numPages = $event">
          </pagination>
          <pre *ngIf="config.paging" class="card card-block card-header text-right">Page: {{page}} / {{numPages}}</pre>
          <!--  <table class="table table-bordered table-striped table-sm">
        <thead>
          <tr>
            <th>Name</th>
            <th>Address</th>
            <th>Province</th>
            <th>Contact person</th>
            <th>Contact number</th>
            <th>Contact email</th>
            <th>Supervisor</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of agentList">
            <td>{{item.name}}</td>
            <td>{{item.address}}</td>
            <td>{{item.province}}</td>
            <td>{{item.contactperson}}</td>
            <td>{{item.contactnumber}}</td>
            <td>{{item.contactemail}}</td>
            <td>{{item.supervisor}}</td>
            <td>
              <button class="btn btn-sm btn-primary" (click)="editDatashow(item)"><i class="cui-pencil icons"></i> Edit</button>
              <button class="btn btn-sm btn-danger" (click)="deleteData(item._id)"><i class="cui-trash icons"></i> Delete</button>
            </td>
          </tr>
        </tbody>
      </table> -->
        </div>
      </div>
    </div>
  </div>
</div>
<ngx-confirm-box [bgColor]="bgColor" [confirmHeading]="confirmHeading" [confirmCanceltext]="confirmCanceltext" [confirmContent]="confirmContent" [confirmOkaytext]="confirmOkaytext" (confirmEvt)="deleteData($event)"></ngx-confirm-box>
<!-- <div class="row">
  <div class="col-md-4">
    <input *ngIf="config.filtering" placeholder="Filter all columns" [ngTableFiltering]="config.filtering" class="form-control" (tableChanged)="onChangeTable(config)" />
  </div>
</div> -->
