<div class="app-body">
    <main class="main d-flex align-items-center">
        <div class="container">
            <div class="row">

                <div class="col-md-8 mx-auto">
                    <div class="logo-wrapper" style="display: flex;
                    justify-content: center;
                    position: relative;
                    z-index: 1;">
                        <img class="logo" src="assets/logo.jpg" style="width: 100%;
                        max-width: 140px;
                        margin: 0 auto;
                        position: absolute;
                        z-index: -1;
                        bottom: -99px;">
                    </div>
                    <div class="card-group">
                        <div class="card p-4">
                            <div class="card-body">
                                <form #loginForm="ngForm" novalidate>
                                    <h1>Login</h1>
                                    <!-- <p class="text-muted">Sign In to your account</p> -->
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="icon-user"></i></span>
                                        </div>
                                        <!-- <input type="text" class="form-control" placeholder="Username" autocomplete="username" required> -->
                                        <input type="email" class="form-control" [ngClass]="{'is-invalid':loginForm.submitted ||email.invalid && (email.dirty || email.touched)}" placeholder="Enter Email Address" name="email" [(ngModel)]="loginData.email" #email="ngModel" required [pattern]='emailPattern'>
                                    </div>
                                    <br>
                                    <!-- <span class=" mb-3" role="alert" *ngIf="!email.errors?.pattern && email.invalid && (email.dirty || email.touched)" style="color: #fb0000;">
                    Email is required
                  </span> -->
                                    <!-- <span class="mb-3" role="alert" *ngIf="email.errors?.pattern && (email.dirty || email.touched)" style="color: #fb0000;">
                    Please enter a valid email address
                  </span> -->
                                    <div class="input-group mb-4">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="icon-lock"></i></span>
                                        </div>
                                        <input [(type)]="passType" class="form-control" [ngClass]="{'is-invalid':loginForm.submitted ||password.invalid && (password.dirty || password.touched)}" placeholder="Enter Password" name="password" [(ngModel)]="loginData.password" #password="ngModel"
                                            autocomplete="false" required>
                                    </div>
                                    <!-- <span class="" role="alert" *ngIf="(password.invalid && (password.dirty || password.touched))" style="color: #fb0000;">
                    Password is required
                  </span> -->
                                    <div class="row">
                                        <div class="col-6">
                                            <button type="button" (click)="onLoggedin(loginForm)" class="btn btn-primary px-4">Login</button>
                                        </div>
                                        <div class="col-6 text-right">
                                            <button type="button" (click)="forgotPassword()" class="btn btn-link px-0">Forgot password?</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <!--  <div class="card text-white bg-primary py-5 d-md-down-none" style="width:44%">
              <div class="card-body text-center">
                <div>
                  <h2>Sign up</h2>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                  <button type="button" class="btn btn-primary active mt-3">Register Now!</button>
                </div>
              </div>
            </div> -->
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>