<div class="app-body">
  <main class="main d-flex align-items-center">
    <div class="container">
      <div class="row">
        <div class="col-md-6 mx-auto">
          <div class="card mx-4">
            <div class="card-body p-4">
              <form #regForm="ngForm" novalidate>
                <h1>Register</h1>
                <p class="text-muted">Create your account</p>
                <!-- <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="icon-user"></i></span>
                  </div>
                  <input type="text" class="form-control" placeholder="Username" autocomplete="username" required>
                </div> -->
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text">@</span>
                  </div>
                  <input type="email" class="form-control" [ngClass]="{'is-invalid':regForm.submitted ||email.invalid && (email.dirty || email.touched)}" autocomplete="off" placeholder="Enter Email Address" name="email" [(ngModel)]="signupData.email" #email="ngModel" required [pattern]='emailPattern'>
                  <!-- <div class="alert-danger" role="alert" *ngIf="!email.errors?.pattern && email.invalid && (email.dirty || email.touched)">
                    Email is required
                  </div> -->
                  <div class="alert-danger" role="alert" *ngIf="email.errors?.pattern && (email.dirty || email.touched)">
                    Please enter a valid email address
                  </div>
                  <div class="alert-danger" role="alert" *ngIf="mailexist && email.valid">
                    Email Already Registered
                  </div>
                </div>
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="icon-lock"></i></span>
                  </div>
                  <input [(type)]="passType" class="form-control" (focus)='ToolShow(true)' (blur)="ToolShow(false)" (keyup)='changeToolColor(signupData.password)' [ngClass]="{'is-invalid':regForm.submitted ||password.invalid && (password.dirty || password.touched)}" placeholder="Enter Password" name="password" [(ngModel)]="signupData.password" #password="ngModel" [pattern]='passwordPattern' autocomplete="off" required>
                </div>
                <div class="input-group mb-4">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="icon-lock"></i></span>
                  </div>
                  <input type="password" class="form-control" placeholder="Repeat password" autocomplete="new-password" required>
                </div>
                <button type="button" class="btn btn-block btn-success">Create Account</button>
              </form>
            </div>
            <!--  <div class="card-footer p-4">
              <div class="row">
                <div class="col-6">
                  <button class="btn btn-block btn-facebook" type="button"><span>facebook</span></button>
                </div>
                <div class="col-6">
                  <button class="btn btn-block btn-twitter" type="button"><span>twitter</span></button>
                </div>
              </div>
            </div> -->
          </div>
        </div>
      </div>
    </div>
  </main>
</div>
