<app-header [fixed]="true" [sidebarToggler]="false" [navbarBrandFull]="{src: 'assets/logo.jpg',
 alt: 'Classic Tracker Logo'}"
  [navbarBrandMinimized]="{src: 'assets/logo.jpg', width: 50, height: 40, alt: 'Classic Tracker Logo'}">
  <!-- <button class="btn btn-md btn-primary" [routerLink]="['/login']" (click)="onLoggedout()"><i class="fa fa-sign-out"></i> Logout</button> -->
</app-header>

<ngx-loading [show]="auth.loading" [config]="{fullScreenBackdrop : true }"></ngx-loading>

<!-- [navbarBrandRouterLink]="['/dashboard']" -->
<div class="app-body">
  <app-sidebar #appSidebar [fixed]="true" [display]="'lg'" (click)="onClick()" [minimized]="sidebarMinimized"
    (minimizedChange)="toggleMinimize($event)">
    <app-sidebar-nav [navItems]="navItems" [perfectScrollbar] [disabled]="appSidebar.minimized"></app-sidebar-nav>
    <app-sidebar-minimizer></app-sidebar-minimizer>
  </app-sidebar>
  <!-- Main content -->
  <main class="main">
    <nav class="breadcrumb">
      <a class="breadcrumb-item" (click)="goBack()" style="color: #20A8D8;cursor: pointer;" >{{previousPath}}</a>
      <span class="breadcrumb-item active">{{currentPath}}</span>
    </nav>

      <!-- <cui-breadcrumb>
      </cui-breadcrumb> -->
    <div class="container-fluid">
      <router-outlet></router-outlet>
    </div>
  </main>
  <app-aside [fixed]="true" [display]="true" [ngClass]="'test'">
    <tabset>
      <tab>
        <!-- <ng-template tabHeading> -->
        <ng-template tabHeading>

          <!-- <i class="icon-settings"></i>
                {{user.name}} {{user.surName}}  -->
          {{user.email}}
        </ng-template>



        <div class="p-3">
          <a class="dropdown-item" tabindex="-1" [routerLink]="['/login']" (click)="onLoggedout()"><i
              class="fa fa-lock"></i> Logout</a>
        </div>
      </tab>
    </tabset>
  </app-aside>
</div>
<app-footer>
  <span><a href='https://www.remoteon.co.za' rel="noopener noreferrer" target="_blank">Remote</a> &copy; 2020 </span>
  <span class="ml-auto">Powered by <a href="https://www.remoteon.co.za" rel="noopener noreferrer"
      target="_blank">Remote</a></span>
</app-footer>
